.bg {
	background-color: rgba(95, 95, 95, 0.75);
}

.file-header {
	position: relative;
	height: 100%;
}

.file-banner {
	position: absolute;
	width: 100%;
	height: 100%;
	filter: blur(2px);
	z-index: -1;
	top: 0;
    left: 0;
}

.gray-bg {
	height: 100%;
	background-color: rgba(95, 95, 95, 0.50);
}

.game-logo {
	width: 100%;
	height: 100%;
}

.game-name {
	padding: 10px;
	position: absolute;
	margin-top: 20px;
	width: 30%;
	height: 180px;
}

.game-data {
	position: absolute;
	margin-top: 240px;
	padding: 10px;
	width: 28.6%;
	height: 61%;
	left: 20px;
}

@media (max-width:1350px) {

	.game-name {
		height: 140px;
	}

	.game-data {
		margin-top: 200px;
		width: 27.5%;
	}

}