<div class="file-header">
	<div class="bg game-data">
		<img class="stand-cover" src="../../assets/img/covers/cover.png">

		<table>
		  <tr>
		    <th colspan="2">
		    	<p>Assassin's Creed</p>
		    </th>
		  </tr>
		  <tr>
		    <td class="left">
		    	<p>Desarrollador: </p>
		    </td>
		    <td class="right">
		    	<img class="developer" src="../../assets/img/logos/ubisoft-white.png">
		    </td>
		  </tr>
		  <tr>
		    <td class="left">
		    	<p>Estreno: </p>
		    </td>
		    <td class="right"></td>
		  </tr>
		  <tr>
		    <td class="left">
		    	<p>Generos: </p>
		    </td>
		    <td class="right"></td>
		  </tr>
		  <tr>
		    <td colspan="2">
		    	<p>
		    		<a href="https://www.ubisoft.com/en-us/game/assassins-creed-1/">Sitio Web <span class="icon-new-tab"></span></a>
		    	</p>
		    </td>
		  </tr>
		</table>


	</div>
	<img class="file-banner" src="../../assets/img/banners/banner.jpg">
	<div class="gray-bg"></div>
</div>
