
<div class="display-container">
	<ul class="showcase">
  	 	<li class="one" [ngStyle]="{'background-image': 'url(' +getStyle(0)+ ')'}"></li>
   	 	<li class="two" [ngStyle]="{'background-image': 'url(' +getStyle(1)+ ')'}"></li>
   	 	<li class="three" [ngStyle]="{'background-image': 'url(' +getStyle(2)+ ')'}"></li>
   	 	<li class="four" [ngStyle]="{'background-image': 'url(' +getStyle(3)+ ')'}"></li>
   	 	<li class="five" [ngStyle]="{'background-image': 'url(' +getStyle(4)+ ')'}"></li>
	</ul>
	<ul class="showcaseTwo">
  		<li class="six" [ngStyle]="{'background-image': 'url(' +getStyle(5)+ ')'}"></li>
  		<li class="seven" [ngStyle]="{'background-image': 'url(' +getStyle(6)+ ')'}"></li>
    	<li class="eight" [ngStyle]="{'background-image': 'url(' +getStyle(7)+ ')'}"></li>
   		<li class="nine" [ngStyle]="{'background-image': 'url(' +getStyle(8)+ ')'}"></li>
	</ul>
</div>	

	<!--div class="game">
		<img class="stand-cover" src="../../assets/img/covers/cover.png">
		<div class="actions">
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-play center-icon"></span></div>
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-file"></span></div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</div>
	</div>
	<div class="game">
		<img class="stand-cover" src="../../assets/img/covers/cover2.jpg">
		<div class="actions">
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-play center-icon"></span></div>
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-file"></span></div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</div>
	</div>
	<div class="game">
		<img class="stand-cover" src="../../assets/img/covers/cover3.jpg">
		<div class="actions">
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-play center-icon"></span></div>
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-file"></span></div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</div>
	</div>
	<div class="game">
		<img class="stand-cover" src="../../assets/img/covers/cover4.jpg">
		<div class="actions">
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-play center-icon"></span></div>
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-file"></span></div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</div>
	</div>
	<div class="game">
		<img class="stand-cover" src="../../assets/img/covers/cover5.jpg">
		<div class="actions">
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-play center-icon"></span></div>
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-file"></span></div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</div>
	</div>
	<div class="game">
		<img class="stand-cover" src="../../assets/img/covers/cover6.jpg">
		<div class="actions">
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-play center-icon"></span></div>
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-file"></span></div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</div>
	</div>
	<div class="game">
		<img class="stand-cover" src="../../assets/img/covers/cover7.jpg">
		<div class="actions">
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-play center-icon"></span></div>
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-file"></span></div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</div>
	</div>
	<div class="game">
		<img class="stand-cover" src="../../assets/img/covers/cover8.jpg">
		<div class="actions">
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-play center-icon"></span></div>
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-file"></span></div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</div>
	</div>
	<div class="game">
		<img class="stand-cover" src="../../assets/img/covers/cover9.png">
		<div class="actions">
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-play center-icon"></span></div>
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-file"></span></div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</div>
	</div>
	<div class="game">
		<img class="stand-cover" src="../../assets/img/covers/cover10.png">
		<div class="actions">
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-play center-icon"></span></div>
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-file"></span></div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</div>
	</div !-->
