
<div class="display-container">
	<div style="margin:0 auto; width: 90%;">
		<ul class="showcase">
  	 	<li id="one" class="one" (click)="move('one')" [ngStyle]="{'background-image': 'url(' +imageOne+ ')'}"></li>
   	 	<li id="two" class="two" (click)="move('two')"[ngStyle]="{'background-image': 'url(' +imageTwo+ ')'}"></li>
   	 	<li id="three" class="three" (click)="move('three')" [ngStyle]="{'background-image': 'url(' +imageThree+ ')'}"></li>
   	 	<li id="four" class="four" (click)="move('four')" [ngStyle]="{'background-image': 'url(' +imageFour+ ')'}"></li>
   	 	<!-- CASE CENTRAL!-->
   	 	<li id="five" class="five" [ngStyle]="{'background-image': 'url(' +imageFive+ ')'}"
   	 	(click)="displayModal()">
   	 		<p class="game-case-name" [hidden]='!visibleTagName'>
				{{centerGame}}
			</p>
   	 	</li>
   	 	<!-- /CASE CENTRAL!-->
	</ul>
	<ul class="showcaseTwo">
  		<li id="six" class="six" (click)="move('six')" [ngStyle]="{'background-image': 'url(' +imageSix+ ')'}" style="visibility: hidden;"></li>
  		<li id="seven" class="seven" (click)="move('seven')" [ngStyle]="{'background-image': 'url(' +imageSeven+ ')'}" style="visibility: hidden;"></li>
    	<li id="eight" class="eight" (click)="move('eight')" [ngStyle]="{'background-image': 'url(' +imageEight+ ')'}" style="visibility: hidden;"></li>
   		<li id="nine" class="nine" (click)="move('nine')" [ngStyle]="{'background-image': 'url(' +imageNine+ ')'}" style="visibility: hidden;"></li>
	</ul>
	</div>
</div>

<div id="game-modal-black" class="game-modal-black" >
	<div style="position: absolute; width: 1.5%; height: 100%; cursor: pointer;" title="cerrar" (click)="closeModal()"></div>
	<div style="right: 0; position: absolute; width: 1.5%; height: 100%; cursor: pointer;" title="cerrar" (click)="closeModal()"></div>
	<img class="game-modal-black-bg" src="../../assets/img/black-case-open-gta.png">
</div>	

	<!--div class="game">
		<img class="stand-cover" src="../../assets/img/covers/cover.png">
		<div class="actions">
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-play center-icon"></span></div>
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-file"></span></div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</div>
	</div>
	<div class="game">
		<img class="stand-cover" src="../../assets/img/covers/cover2.jpg">
		<div class="actions">
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-play center-icon"></span></div>
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-file"></span></div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</div>
	</div>
	<div class="game">
		<img class="stand-cover" src="../../assets/img/covers/cover3.jpg">
		<div class="actions">
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-play center-icon"></span></div>
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-file"></span></div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</div>
	</div>
	<div class="game">
		<img class="stand-cover" src="../../assets/img/covers/cover4.jpg">
		<div class="actions">
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-play center-icon"></span></div>
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-file"></span></div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</div>
	</div>
	<div class="game">
		<img class="stand-cover" src="../../assets/img/covers/cover5.jpg">
		<div class="actions">
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-play center-icon"></span></div>
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-file"></span></div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</div>
	</div>
	<div class="game">
		<img class="stand-cover" src="../../assets/img/covers/cover6.jpg">
		<div class="actions">
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-play center-icon"></span></div>
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-file"></span></div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</div>
	</div>
	<div class="game">
		<img class="stand-cover" src="../../assets/img/covers/cover7.jpg">
		<div class="actions">
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-play center-icon"></span></div>
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-file"></span></div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</div>
	</div>
	<div class="game">
		<img class="stand-cover" src="../../assets/img/covers/cover8.jpg">
		<div class="actions">
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-play center-icon"></span></div>
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-file"></span></div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</div>
	</div>
	<div class="game">
		<img class="stand-cover" src="../../assets/img/covers/cover9.png">
		<div class="actions">
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-play center-icon"></span></div>
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-file"></span></div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</div>
	</div>
	<div class="game">
		<img class="stand-cover" src="../../assets/img/covers/cover10.png">
		<div class="actions">
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-play center-icon"></span></div>
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-file"></span></div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</div>
	</div !-->
