	<div class="game">
		<img class="stand-cover" src="../../assets/img/covers/cover.png">
		<div class="actions">
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-play center-icon"></span></div>
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-file"></span></div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</div>
	</div>
	<div class="game">
		<img class="stand-cover" src="../../assets/img/covers/cover2.jpg">
		<div class="actions">
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-play center-icon"></span></div>
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-file"></span></div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</div>
	</div>
	<div class="game">
		<img class="stand-cover" src="../../assets/img/covers/cover3.jpg">
		<div class="actions">
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-play center-icon"></span></div>
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-file"></span></div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</div>
	</div>
	<div class="game">
		<img class="stand-cover" src="../../assets/img/covers/cover4.jpg">
		<div class="actions">
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-play center-icon"></span></div>
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-file"></span></div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</div>
	</div>
	<div class="game">
		<img class="stand-cover" src="../../assets/img/covers/cover5.jpg">
		<div class="actions">
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-play center-icon"></span></div>
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-file"></span></div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</div>
	</div>
	<div class="game">
		<img class="stand-cover" src="../../assets/img/covers/cover6.jpg">
		<div class="actions">
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-play center-icon"></span></div>
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-file"></span></div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</div>
	</div>
	<div class="game">
		<img class="stand-cover" src="../../assets/img/covers/cover7.jpg">
		<div class="actions">
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-play center-icon"></span></div>
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-file"></span></div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</div>
	</div>
	<div class="game">
		<img class="stand-cover" src="../../assets/img/covers/cover8.jpg">
		<div class="actions">
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-play center-icon"></span></div>
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-file"></span></div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</div>
	</div>
	<div class="game">
		<img class="stand-cover" src="../../assets/img/covers/cover9.png">
		<div class="actions">
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-play center-icon"></span></div>
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-file"></span></div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</div>
	</div>
	<div class="game">
		<img class="stand-cover" src="../../assets/img/covers/cover10.png">
		<div class="actions">
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-play center-icon"></span></div>
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-file"></span></div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</div>
	</div>
