<div class="hiden-menu">
	<div class="hexagon menu-button slide" routerLink="/"><span class="icon-home"></span></div>
	<div class="hexagon menu-button right-button slide" routerLink="/favorites"><span class="icon-star-full"></span></div>
	<div class="hexagon menu-button left-button slide"><span class="icon-pc"></span></div>
	<div class="hexagon menu-button right-button slide"><span class="icon-gamepad"></span></div>
	<div class="hexagon menu-button left-button slide" routerLink="/settings"><span class="icon-cog"></span></div>
</div>
<div class="container">
	<router-outlet></router-outlet>
</div>