/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?j0l81k');
  src:  url('fonts/icomoon.eot?j0l81k#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?j0l81k') format('truetype'),
    url('fonts/icomoon.woff?j0l81k') format('woff'),
    url('fonts/icomoon.svg?j0l81k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

html{
	height: 100%;
  min-width: 800px;
  min-height: 600px;
  padding: 0;
  overflow: hidden;
}

body{
  font-family: "Comic Sans MS", cursive, sans-serif;
	background-image: url("assets/img/bg.jpg");
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  margin-top: -26px;
  height: 100%;
  min-width: 800px;
  min-height: 600px;
}

::-webkit-scrollbar{
  width: 10px;
  height: 10px;
  cursor: pointer;  
}

::-webkit-scrollbar-thumb {
    background: #a3041a; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    cursor: pointer;
}

.center-icon {
  margin-left: 2.5px;
  background: none !important;
}

.inline {
  display: inline-block;
}

.white-font {
  color: white;
}

.hexagon-small {
  color: black;
  position: relative;
  width: 50px; 
  height: 28.87px;
  background-color: #d6061e;
  margin: 14.43px 0;
  box-shadow: 0 0 20px rgba(214,6,30,0.6);
  text-align: center;
  font-size: 25px;
}

.hexagon-small:hover {
  cursor: pointer;
}

.hexagon-small:active {
  background-color: #a3041a;
}

.hexagon-small:active span{
  background-color: #a3041a;
}

.hexagon-small:before,
.hexagon-small:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 35.36px;
  height: 35.36px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 7.3223px;
  box-shadow: 0 0 20px rgba(214,6,30,0.6);
}

.hexagon-small:before {
  top: -17.6777px;
}

.hexagon-small:after {
  bottom: -17.6777px;
}

/*cover up extra shadows*/
.hexagon-small span {
  display: block;
  position: absolute;
  top:0px;
  left: 0px;
  width:50px;
  height:28.8675px;
  z-index: 2;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pc:before {
  content: "\e902";
}
.icon-gamepad:before {
  content: "\e901";
}
.icon-home:before {
  content: "\e900";
}
.icon-file:before {
  content: "\e926";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-spinner:before {
  content: "\e984";
}
.icon-cog:before {
  content: "\e994";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-play:before {
  content: "\ea1c";
}
.icon-arrow-up:before {
  content: "\ea32";
}
.icon-new-tab:before {
  content: "\ea7e";
}
