<h1 class="white-font" style="text-align: left;">
  Juegos Favoritos
  <div class="hexagon-small inline tab-1 selected"><span class="icon-pc"></span></div>
<div class="hexagon-small inline tab-2"><span class="icon-gamepad"></span></div>
</h1>

<div class="add-game hexagon-middle"><span class="icon-plus"></span></div>

<div class="favorite-container">
	<div class="game">
		<img class="stand-cover" src="../../assets/img/covers/cover.png">
		<div class="actions">
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-play center-icon"></span></div>
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-file"></span></div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</div>
	</div>
	<div class="game">
		<img class="stand-cover" src="../../assets/img/covers/cover2.jpg">
		<div class="actions">
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-play center-icon"></span></div>
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-file"></span></div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</div>
	</div>
	<div class="game">
		<img class="stand-cover" src="../../assets/img/covers/cover3.jpg">
		<div class="actions">
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-play center-icon"></span></div>
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-file"></span></div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</div>
	</div>
	<div class="game">
		<img class="stand-cover" src="../../assets/img/covers/cover4.jpg">
		<div class="actions">
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-play center-icon"></span></div>
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-file"></span></div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</div>
	</div>
	<div class="game">
		<img class="stand-cover" src="../../assets/img/covers/cover5.jpg">
		<div class="actions">
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-play center-icon"></span></div>
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-file"></span></div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</div>
	</div>
	<div class="game">
		<img class="stand-cover" src="../../assets/img/covers/cover6.jpg">
		<div class="actions">
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-play center-icon"></span></div>
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-file"></span></div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</div>
	</div>
	<div class="game">
		<img class="stand-cover" src="../../assets/img/covers/cover7.jpg">
		<div class="actions">
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-play center-icon"></span></div>
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-file"></span></div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</div>
	</div>
	<div class="game">
		<img class="stand-cover" src="../../assets/img/covers/cover8.jpg">
		<div class="actions">
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-play center-icon"></span></div>
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-file"></span></div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</div>
	</div>
	<div class="game">
		<img class="stand-cover" src="../../assets/img/covers/cover9.png">
		<div class="actions">
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-play center-icon"></span></div>
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-file"></span></div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</div>
	</div>
	<div class="game">
		<img class="stand-cover" src="../../assets/img/covers/cover10.png">
		<div class="actions">
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-play center-icon"></span></div>
			<div class="hexagon-small inline" style="z-index: 1;"><span class="icon-file"></span></div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</div>
	</div>

</div>