<div class="home-div div-control">
	<div class="carousel div-control">
		<span class="div-title white-font">
			Favoritos <span class="icon-new-tab" routerLink="/favorites" style="cursor: pointer;"></span>
		</span>
		<span class="star icon-star-full"></span>
		<img class="stand-cover" src="../../assets/img/covers/cover.png">
		<img class="banner" src="../../assets/img/banners/banner.jpg">
		<span class="div-footer">
			<div class="game-info div-control">
				<span class="game-data white-font">
					Game Name / 09-10-1994 <span class="tag">tags</span>
				</span>
				<div class="div-control play">
					<div class="hexagon-small inline"><span class="icon-play center-icon"></span></div>
					<div class="hexagon-small inline"><span class="icon-file"></span></div>
				</div>
			</div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</span>
	</div>
</div>

<div class="home-small-div div-control">
	<div class="carousel div-control">
		<span class="div-title white-font">
			Jugado la última vez
		</span>
		<span class="star icon-star-empty"></span>
		<img class="stand-cover" src="../../assets/img/covers/cover2.jpg">
		<img class="banner" src="../../assets/img/banners/banner2.jpg">
		<span class="div-footer">
			<div class="game-info div-control">
				<span class="game-data white-font">
					Game Name / 09-10-1994 <span class="tag">tags</span>
				</span>
				<div class="div-control play">
					<div class="hexagon-small inline"><span class="icon-play center-icon"></span></div>
					<div class="hexagon-small inline"><span class="icon-file"></span></div>
				</div>
			</div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</span>
	</div>
</div>

<div class="home-small-div-bottom div-control">
	<div class="carousel div-control">
		<span class="div-title white-font">
			Random <span class="icon-spinner" style="cursor: pointer;"></span>
		</span>
		<span class="star icon-star-empty"></span>
		<img class="square-cover" src="../../assets/img/covers/square-cover.jpg">
		<img class="banner" src="../../assets/img/banners/banner6.jpg">
		<span class="div-footer">
			<div class="game-info div-control">
				<span class="game-data white-font">
					Game Name / 09-10-1994 <span class="tag">tags</span>
				</span>
				<div class="div-control play">
					<div class="hexagon-small inline"><span class="icon-play center-icon"></span></div>
					<div class="hexagon-small inline"><span class="icon-file"></span></div>
				</div>
			</div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</span>
	</div>
</div>

<div class="home-div-bottom div-control">
	<div class="carousel div-control">
		<span class="div-title white-font">
			Más Jugados
		</span>
		<span class="star icon-star-empty"></span>
		<img class="lying-cover" src="../../assets/img/covers/lying-cover.jpg">
		<img class="banner" src="../../assets/img/banners/banner5.jpg">
		<span class="div-footer">
			<div class="game-info div-control">
				<span class="game-data white-font">
					Game Name / 09-10-1994 <span class="tag">tags</span>
				</span>
				<div class="div-control play">
					<div class="hexagon-small inline"><span class="icon-play center-icon"></span></div>
					<div class="hexagon-small inline"><span class="icon-file"></span></div>
				</div>
			</div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</span>
	</div>
</div>