<div class="home-div div-control">
	<div class="carousel div-control">
		<span class="div-title">
			Favoritos
		</span>
		<img class="stand-cover" src="../../assets/img/covers/cover.jpg">
		<img class="banner" src="../../assets/img/banners/banner.jpg">
		<span class="div-footer">
			<div class="game-info div-control">
				<span class="game-data">
					Game Name / 09-10-1994 <span class="tag">tags</span>
				</span>
				<div class="div-control play">
					<div class="hexagon-small inline"><span class="icon-play"></span></div>
					<div class="hexagon-small inline"><span class="icon-file"></span></div>
				</div>
			</div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</span>
	</div>
</div>

<div class="home-small-div div-control">
	<span class="div-title">
		Jugado la última vez
	</span>
</div>

<div class="home-small-div-bottom div-control">
	<span class="div-title">
		Random
	</span>
</div>

<div class="home-div-bottom div-control">
	<div class="carousel div-control">
		<span class="div-title">
			Más Jugados
		</span>
		<img class="lying-cover" src="../../assets/img/covers/cover.jpg">
		<img class="banner" src="../../assets/img/banners/banner.jpg">
		<span class="div-footer">
			<div class="game-info div-control">
				<span class="game-data">
					Game Name / 09-10-1994 <span class="tag">tags</span>
				</span>
				<div class="div-control play">
					<div class="hexagon-small inline"><span class="icon-play"></span></div>
					<div class="hexagon-small inline"><span class="icon-file"></span></div>
				</div>
			</div>
			<img class="gradient" src="../../assets/img/gradient.png">
		</span>
	</div>
</div>