<table>
  <tr>
    <th colspan="2"><h1>Configuración Visual</h1></th>
  </tr>
  <tr>
    <td>
  		Mostrar portadas:
	</td>
    <td>
    	<input type="radio" name="display-option" value="3d" checked> Cajas en 3D
    	<br>
		<input type="radio" name="display-option" value="2d"> Portadas en 2D
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td colspan="2"></td>
  </tr>
</table>